<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>

	body{
		background-color: #00203FFF;
	}
</style>

<br>
<br>
<div class="container">
    <div class="card-deck">
        <div class="card mx-auto pt-10" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Update Task :)</h5> <br>
                    <form method="post" action="">
                        {% csrf_token %}
                        {{form.as_p}}<BR><BR>
                        <input type="submit" class="btn btn-sm btn-info" Value="Update Task">
                    </form>
          </div>
        </div>
    </div>
</div>

